.admin_banner {
  min-height: 100vh;
  display: flex;
}
.admin_banner .dashboard {
  height: 100vh;
}
.admin_banner .home {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.admin_banner .home .home_btn {
  display: flex;
  justify-content: end;
  width: -webkit-fill-available;
}
.admin_banner .home .home_btn button {
  margin-top: 15px !important;
  margin-right: 10px !important;
  border: transparent;
  padding: 9px;
  border-radius: 6px;
  background: #222c54;
  color: white;
  font-size: 13px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.admin_banner .home .banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 15px;
}
.admin_banner .home .banners .banner {
  position: relative;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 7px;
}
.admin_banner .home .banners .banner .edit_delete_btns {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
}
.admin_banner .home .banners .banner .edit_delete_btns i {
  color: #20263a;
}
.admin_banner .home .banners .banner .edit_delete_btns i:hover {
  cursor: pointer;
}
.admin_banner .home .banners .banner .banner_image {
  width: 600px;
  height: 400px;
}
.admin_banner .home .banners .banner .banner_image img {
  width: 100%;
  height: 100%;
}
.admin_banner .home .banners .banner .banner_content {
  position: absolute;
  top: 200px;
  left: 100px;
}
.admin_banner .category-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.admin_banner .category-form-container .close_btn_div {
  display: flex;
  justify-content: end;
  width: 100%;
}
.admin_banner .category-form-container .image_preview {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(214, 212, 212);
  margin-bottom: 7px !important;
}
.admin_banner .category-form-container .image_preview img {
  width: 100%;
  height: 100%;
}
.admin_banner .category-form-container label {
  display: block;
  margin-bottom: 5px;
}
.admin_banner .category-form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}
.admin_banner .category-form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.admin_banner .category-form-container .close-button {
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.admin_banner .field_error {
  color: red;
}